.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .title:last-of-type {
    margin-top: 15px;
  }
}

.list {
  li:not(:last-child) {
    margin-bottom: 10px;
  }
}

.title {
  margin-bottom: 15px;
}
