.form {
  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    gap: 130px;
  }
}

.title {
  margin-bottom: 50px;
  text-align: center;
}

.inputSelectGroup {
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 50px;

  &:not(:last-child) {
    margin-bottom: 80px;
  }
}
