@import "../../styles/utils/colors.scss";

.header {
  background-color: #36454f;
  height: 80px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.currency-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.currency-info-item {
  display: flex;
  gap: 5px;
}
.navbar {
  display: inline-block;
  :not(:last-child) {
    margin-bottom: 5px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 50px;

    :not(:last-child) {
      margin-bottom: 0;
    }
  }
}
.navlink {
  @media screen and (min-width: 1280px) {
    color: currentColor;
    transition: color 350ms ease-in-out;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &.active {
    color: $accent-color;
  }
}

.accent-color {
  color: $accent-color;
  font-weight: 700;
}

.mobile {
  display: none;
  @media screen and (min-width: 1280px) {
    display: inline;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
