.main {
  flex-grow: 1;
  padding: 50px 0;

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  max-width: 1280px;
  margin: 0 auto;
}
