.footer {
  background-color: #36454f;
  height: 80px;
}

.footer-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}
.label {
  font-size: 15px;
}
