@import "../../../styles/utils/colors.scss";

.navbar {
  display: inline-block;
  :not(:last-child) {
    margin-bottom: 5px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 50px;

    :not(:last-child) {
      margin-bottom: 0;
    }
  }
}
.navlink {
  @media screen and (min-width: 1280px) {
    color: currentColor;
    transition: color 350ms ease-in-out;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &.active {
    color: $accent-color;
  }
}
