@import "../../../styles/utils/colors.scss";

.currencyInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.currencyInfoItem {
  display: flex;
  gap: 5px;
}

.accentColor {
  color: $accent-color;
  font-weight: 700;
}
